.container {
    background: var(--header-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    margin-top: 2rem;
}
.content {
    width: min(var(--coolbiej-sizes-container-xl), 100%);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
    .container{
        padding: 2rem 0;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: min(400px, 95%);
}
@media screen and (max-width: 600px) {
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.logo {
    width: 100%;
    aspect-ratio: 192/50;
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: var(--coolbiej-shadows-md), var(--coolbiej-shadows-lg);
}

.left h3 {
    font-size: 2.4rem;
    font-weight: 800;
    color: white;
}
.left p {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    line-height: 1rem;
}
.line {
    width: 35%;
    height: 2px;
    background: white;
    opacity: 0.5;
}

.inputField {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}
.middle {
    width: min(500px, 95%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}
.topForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}
@media screen and (max-width: 600px) {
    .topForm {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.label {
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
}
.inputField input, .inputField textarea {
    width: 100%;
    padding: 0.5rem;
    border: none;
    box-shadow: var(--coolbiej-shadows-md);
    border-radius: 0.5rem;
    color: var(--coolbiej-colors-text);
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    outline: ;
}

.wrong {
    outline-color: tomato;
    color: red !important;
}
.inputField input:focus, .inputField textarea:focus {
    box-shadow: var(--coolbiej-shadows-lg);
}

.inputLong {
    /* no resize */
    resize: none;
    /* no scrollbars */
    overflow: hidden;
    /* optional */
    width: 100%;
    height: 6rem;
    font-family: inherit;
}
.button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid black;
    box-shadow: var(--coolbiej-shadows-md);
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    background: var(--coolbiej-colors-orange-500);
    cursor: pointer;
}
.button:hover {
    background: var(--coolbiej-colors-orange-600);
    box-shadow: var(--coolbiej-shadows-lg);
    transform: scale(1.05);
}
.button:active {
    background: var(--coolbiej-colors-orange-700);
    box-shadow: var(--coolbiej-shadows-md);
    transform: scale(1);
}



.right {
    width: min(300px, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.right h3 {
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
    width: min-content;
    text-align: center;
}
.zachodniopomorskie {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}